.footer {
  text-align: center;
  padding: 1em;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(21, 114, 222, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

p {
  margin: auto;
}
