@import url('https://fonts.googleapis.com/css?family=Lato:200i,400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
